<header id="header" class="bg-pink mt-2 container d-flex justify-content-between align-content-center border border-2 " >
    <div class="container d-inline-flex align-items-center">
        <img class="w-25 h-auto" src="../../assets/images/ArgProgLOGO.png" alt="Logo arg programa">
        <img class="w-auto h-auto p-4" src="../../assets/images/line.png " alt="Linea divisoria">
        <h3 class ="fs-5 pt-2 ">#YoProgramo </h3>
    </div>
    <div class=" d-inline-flex align-items-center">
        <a href= {{linkGithub}}><img class="logo-red"  src="../../assets/images/github.png" alt="icono github"></a>
        <a href={{linkLinkedIn}}><img class="logo-red"  src="../../assets/images/linkedin.png" alt="icono linkedin"></a>
        <a href={{linkInstagram}}><img class="logo-red"  src="../../assets/images/instagram.png" alt="icono instagram"></a>
        <a href={{linkFacebook}}><img class="logo-red"  src="../../assets/images/facebook.png" alt="icono facebook"></a>
        <img class="w-auto h-auto p-4" src="../../assets/images/line.png " alt="Linea divisoria">
        <a id="bnt" class="text-decoration-none ml-2 py-2 px-4 fw-bold" [routerLink]="['logIn']"> INGRESAR </a>
    </div>
</header>
