<section class="info container ">
    <div class="container d-flex justify-content-center align-items-center text-center">
        <div class="image-info-container flex-column align-items-center justify-content-center w-auto">
           <img class="profile-image w-50 h-auto" src=" ../../../../../assets/images/profileImage.png" alt="imagen de perfil">
           <p> {{birthdate}} </p>
           <p> {{location}} </p>
        </div>
        <h3 class="mr-2">{{name}} {{lastname}} </h3>
        <h6 class="py-2 px-4 ">{{speciality}} </h6>
    </div>
    <div class="highlight-info flex-column ">
        <p> {{aboutMe}} </p>
       
    </div>
    
</section>